*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    position: relative;
    padding-top: 30px;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background: rgba(29, 33, 61, 0.5);
    padding: 0 60px;
    box-sizing: border-box;
}

.logo {
    width: 155px;
}

.logo img {
    width: 50px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

nav {
    flex: 1;
}

nav h2 {
    color: #ffffff;
    letter-spacing: 3px;
    font-family: sans-serif;
    font-weight: 200;
}


.user {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
}

.user img {
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    border-radius: 200px;
}

.sidebar {
    width: 155px;
    height: 100vh;
    background: rgba(29, 31, 58, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.search-icon {
    width: 20px;
    display: block;
    margin: 120px auto 0;
}

.social-links {
    width: 30px;
    display: block;
    margin: 220px auto 0;
    text-align: center;
}

.social-links img {
    height: 20px;
    margin-bottom: 30px;
}

.info-icon {
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    cursor: pointer;
}

.msg-container {
    width: 600px;
    height: 280px;
    position: absolute;
    left: 14%;
    top: 57%;
    transform: translateY(-50%);
    overflow: hidden;
}

#slider{
    display: inline-flex;
    transition: 0.5s;
}

.msg-col {
    width: 600px;
    height: 280px;
}

.msg-col img {
    height: 130px;
    border-radius: 20px;
    transition: all 0.2s;
    z-index: 10;
}
.msg-col img:hover {
    height: 150px;
    z-index: 100;
}



.msg-col h1 {
    color: #ffffff;
    font-size: 80px;
    font-weight: 100;
    margin: 10px 0;
}

.msg-col p {
    color: #ddd;
    font-size: 15px;
    line-height: 25px;
}

.controller {
    width: 1px;
    height: 320px;
    display: block;
    background: #c0c0c0;
    position: absolute;
    top: 55%;
    right: 50px;
    transform: translateY(-50%);
}

#line1, #line2, #line3, #line4 {
    height: 80px;
    width: 10px;
    cursor: pointer;
    transform: translateX(-50%);
}

#active {
    width: 5px;
    height: 80px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btn, .btn:link, .btn:visited {
    margin-top: 15px;
    text-transform: uppercase;
    margin-left: 30px;
	 text-decoration: none;
	 padding: 12px 35px;
	 display: inline-block;
	 border-radius: 200px;
	 transition: all 0.2s;
	 position: relative;
	 font-size: 16px;
	 border: none;
	 cursor: pointer;
}
 .btn:hover {
	 transform: translateY(-4px);
	 /* box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2); */
}
 .btn:hover::after {
	 transform: scaleX(1.4) scaleY(1.6);
	 opacity: 0;
}
 .btn:active, .btn:focus {
	 transform: translateY(-1px);
	 box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
}
 .btn::after {
	 content: '';
	 display: inline-block;
	 height: 100%;
	 width: 100%;
	 border-radius: 10rem;
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: -1;
	 transition: all 0.4s;
}
 .btn--white {
	 background-color: #fff;
	 color: #777;
}
 .btn--white::after {
	 background-color: #fff;
}
 .btn--green {
	 background-color: #fff;
	 color: #777;
}
 .btn--green::after {
	 background-color: #fff;
}
.btn--black {
	 background-color: black;
	 color: #fff;
}
 .btn--black::after {
	 background-color: black;
}
.btn--blue {
	 background-color: #2E89FF;
	 color: #fff;
}
 .btn--blue::after {
	 background-color: #2E89FF;
}

.inline {
    text-decoration: none;
    color: #fff;
}